.sec-2-font
{
    font-family: 'Cookie', cursive;
    font-size: 40px;
}
.sec-2-font-p
{
    font-family: 'Cardo', serif;
    font-size: 45px;
    line-height: 55px;
}
.font-famali
{
    font-family: 'Cardo', serif;
}
